{% extends 'base.html.twig' %}

{% block title %}{{ category.title }}{% endblock %}

{% block body %}
<a href="/category" class="btn btn-danger text-white">
  <i class="bi bi-backspace"></i>
</a>
    <h1>Mise à jour de la categorie: {{category.title}}</h1>
    {{ form(form) }}
    <h1>Articles Associer ✅</h1>
    {% if category.articles is empty %}
        <p>Aucun article associé.</p>
    {% else %}
        <ul>
            {% for article in category.articles %}
                <li><a href="article/{{ article.id }}">{{ article.title }}</a></li>
            {% endfor %}
        </ul>
    {% endif %}
{% endblock %}