{% extends 'base.html.twig' %}

{% block title %}{{ article.title }}{% endblock %}

{% block body %}
    <a href="/article" class="btn btn-danger text-white">
        <i class="bi bi-backspace"></i>
    </a>
    <h1>{{ article.title }}</h1>
    <p>{{ article.content }}</p>
    <p>{{ article.createdAt.date }}</p>
    <p>{{ article.updatedAt.date }}</p>


    {% if article.category is empty %}
        <p>Aucune catégorie associé.</p>
    {% else %}
        <p>Category : {{ article.category.title }}</p>
    {% endif %}
    {% if article.user is empty %}
        <p>createur anonyme</p>
    {% else %}
        <p>Créer par : {{ article.user.username }}</p>
    {% endif %}
{% endblock %}