{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}
<div class="d-flex flex-column" style="height: 100vh;">
    <div class="container d-flex justify-content-center align-items-center flex-grow-1">
        <div class="card shadow-lg rounded" style="max-width: 400px; width: 100%;">
            <div class="card-body p-4">
                <h1 class="h3 mb-4 font-weight-normal text-center">Inscription</h1>
                {{ form_start(form) }}
                    <div class="mb-3">
                        {{ form_label(form.username) }}
                        {{ form_widget(form.username, {'attr': {'class': 'form-control form-control-lg'}}) }}
                        {{ form_errors(form.username) }}
                    </div>

                    <div class="mb-3">
                        {{ form_label(form.password) }}
                        {{ form_widget(form.password, {'attr': {'class': 'form-control form-control-lg'}}) }}
                        {{ form_errors(form.password) }} 
                    </div>

                    <div class="d-grid">
                        {{ form_widget(form.inscription, {'attr': {'class': 'btn btn-lg btn-primary'}}) }}
                    </div>
                {{ form_end(form) }}

                <div class="mt-4 text-center">
                    <p>Vous avez déjà un compte ? <a href="{{ path('app_login') }}" class="btn btn-link">Se connecter</a></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
